* {
    box-sizing: border-box;
}

body{
    margin: 0;
    
}
/* fixed -> always wrt body */
/* absolute -> parent ka ref lega jo ki relative h */
.video-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color:white;
}
/* .video-container .recording{
    position : absolute;
    top: 1rem;
    right: 7rem;
    z-index: 1;
    background-color: white;
    border-radius: 15%
} */
video {
    height: 100%;
    width: 100%;
}

#video, #image{
    z-index: 3;
    position: fixed;
    right: 2rem;
    border-radius: 50%;
    /* top : 40vh; */
    width: 4rem;
    height: 4rem;
    border:5px solid black;
    background-color: white;
}

#video {
    top : 40vh;
}

#image {
    top : 55vh;
}

#video div,
#image div {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: auto;
}

#video div {
    background: red;
  }
  
  #image div {
    background: black;
  }

.capture-animation {
    animation: inOut 0.5s;
  }
  
  .record-animation {
    animation: inOut 1s infinite;
  }

@keyframes inOut {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.filter-container{
    z-index: 3;
    height: 25rem;
    width: 5rem;
    position: fixed;
    left: 2rem;
    top: calc((100vh - 25rem) / 2);
    background-color: red;
}

.filter{
    border: 2px solid white;
    width: 100%;
    height: calc(25rem / 6);
    background: url(fill.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
}

.zoom-in-out-container{
    z-index: 3;
    height: 5rem;
    width: 2.5rem;
    position: fixed;
    right: 3rem;
    top: 5rem;
}

.zoom-in-out-container div{
    width: 100%;
    height: 50%;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(119, 114, 114);
    border: 1px solid white;
    padding-top: 0.7rem;
}

.filter-div{
    /* z-index: -1; */
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}